h1 {
  text-indent: 10px;
  font-size: 10px;
}

header {
  background: grey;
}

header nav ul {
  margin: 10px;
  padding: 10px;
  text-align: center;
}

header nav ul li {
  display: inline-block;
}
